*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    margin: 2rem 4rem;
    text-align: center;
}
.main-container h1{
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(29, 45, 66);
}
.main-container p{
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(109, 190, 245);
}
