*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.main-container h1{
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(29, 45, 66);
}
.main-container p{
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(109, 190, 245);
    margin-bottom: 4rem;
}
.grid-container{
    display: flex;
    justify-content: center;
}